@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    /* outline: 3px solid red; */
}

:root {
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

body {
    font-family: 'Lato', sans-serif;
}

/* header section */
.header {
    background: linear-gradient(#FF4F95,#FB6F68);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.header__texts{
    width: 45%;
    color: white;
}

.header__image {
    width: 45%;
    margin: 0;
}

.header__picture {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.header__title {
    font-size: 4rem;
}

.header__subtitle {
    font-size: 1.5rem;
    font-weight: 300;
}



.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.about{
    padding: var(--padding-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about__title{
    font-size: 2.5rem;
    color: var(--color-primary);
}
.about__img{
    width: 45%;
    text-align: center;
    margin: 0;
}
.about__picture{
    max-width: 80%;
}
.about__texts{
    width: 50%;
}
.about__paragraph{
    line-height: 1.5;
}
.about__cta{
    display: inline-block;
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 30px;
}

/* section portfolio */




.portfolio{
    background-color: var(--color-bg);
}
.portfolio__title2{
    text-align: var(--align-title);
    margin: 40px 0;
    font-size: 2.5rem;
    color: var(--color-primary);
}
.portfolio__cards{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    flex-wrap: wrap;
}
.portfolio__card{
    width: 27%;
    background-color: #fff;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
.portfolio__picture{
    width: 100%;
    border-radius: 10px 10px 0 0;
    display: block;
    height: 200px;
    object-fit: cover;
}
.portfolio__texts{
    padding: 30px 20px 40px;
}
.portfolio__title{
    font-size: 1.5rem;
    text-align: center;
    color: var(--color-secondary);
    margin: 0;
}
.portfolio__paragraph{
    font-weight: 300;
    margin: 30px 0;
    line-height: 1.5;
}
.portfolio__cta{
    background-color: var(--color-secondary);
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 0;
    font-weight: 300;
    text-align: var(--align-title);
    border-radius: 30px;
}


/* section copy */
.copy{
    background-color: var(--color-primary);
}    

.copy__texts{
     color: #fff;
}
.title{
    text-align: var(--align-title);
    margin: 40px 0;
    font-size: 2.5rem;
}
.title--margin{
    margin: 0;
}
.container{
    padding: var(--padding-container);
}

/* section gallery */
.gallery__title{
    text-align: var(--align-title);
    margin: 40px 0;
    font-size: 2.5rem;
    color: var(--color-primary);    
}
.gallery__container{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery__picture{
    width: 30%;
    height: 250px;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

/* section laguages */

.languages{
    background-color:var(--color-bg);
}
.languages__title{
    text-align: var(--align-title);
    margin-bottom: 70px;
    font-size: 2.5rem;
    color: var(--color-primary);
}
.languages__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.languages__picture{
    width: 20%;
    height: 100px;
}


/* footer */

.footer {
    background-color: #FE6F68;
}


.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.footer__texts{
    width: 45%;
    color: white;
}

.footer__image {
    width: 45%;
    margin: 0;
}

.footer__picture {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}

.footer__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.footer__title {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}


.footer__icon {
    display: inline-block;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
    font-size: 2rem;
    width: 55px;
    height: 55px;
    margin: 0 40px;
}

.footer__font-icon {
    display: inline-block;
    margin: 10px 10px;
    height: 32px;
    width: 32px;
}

.footer__links {
}

.footer__link {
    display: inline;
    color: white;
    margin: 0 25px;
}

/* responsive 800px */

@media screen and (max-width: 800px) {
    .header{
        padding: .1px;
        height: auto;
        min-height: 100vh;
        --padding-container: 40px 0;
    }
    .header .container{
        margin-top: 10%;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .header__texts{
        width: 100%;
    }
    .header__title{
        font-size: 3.5rem;
    }
    .header__image{
        display: block;
        margin-bottom: 40px;
    }
    .header__picture{
        max-width: 85%;
    }

    /* about section */
    .about__texts{
        width: 100%;
    }
    .about__title{
        text-align: var(--align-title);
    }
    .about__paragraph{
        width: 90%;
        margin: 0 auto;
        text-align: justify;
    }
    .about__cta{
        margin-left: 38%;
    }
    .about__img{
        width: 85%;
        margin: 0 auto;
        margin-top: 3rem;
    }
    .about__picture{
        max-width: 100%;
    }
    /* section portfolio */

    .portfolio__card{
        width: 90%;
        max-width: 300px;
        margin-top: 1rem;
    }

    /* section gallery */
    .gallery__picture{
        width: 90%;
        max-width: 300px;
    }

    /* section languages */
    .languages__container{
        justify-content: space-between;
    }
    
}























@media screen and (max-width: 550px) {
    .header .container {
        font-size: 3rem;
    }

    .header__image {
        width: 70%;
    }


    /* .portfolio section */
    .portfolio__card {
        width: 100%;
        margin: 10%;
    }

    /* gallery section */
    .gallery__picture {
        width: 100%;
    }


    /* .languages section */
    .languages__picture {
        width: 40%;
        margin: 10% 0;
    }

}