@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    outline:3px solid red;
}

:root{
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0, .2);
}

body{
    font-family: 'Lato', sans-serif;
}

















.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about__title{
    font-size: 2.5rem;
    color: var(--color-primary);
}
.about__img{
    width: 45%;
    text-align: center;
    margin: 0;
}
.about__picture{
    max-width: 80%;
}
.about__texts{
    width: 50%;
}
.about__paragraph{
    line-height: 1.5;
}
.about__cta{
    display: inline-block;
    background-color: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 30px;
}